<nav id="sidebar">
    <div class="sidebar-header">
        <img id="originLogo" src="https://logodownload.org/wp-content/uploads/2017/12/origin-logo.png" alt="Logo" height="32px" width="100px">
        <form class="form-group" action="index.html" method="post">
            <input id="gameSearchInput" class="form-control" type="text" name="game-search" value="Search games and more">
        </form>
    </div>

    <ul class="list-unstyled components">
        <li>
            <div class="dropdown dropright">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Dropright button 
                </button>
                <div class="dropdown-menu" id="homeSubmenu">
                    <a class="dropdown-item" href="#">Valut Games</a>
                    <a class="dropdown-item" href="#">Play First Trials</a>
                    <a class="dropdown-item" href="#">Origin Access FAQ</a>
                </div>
            </div>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
